{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="container py-5" style="margin-top: 80px;">

      <div class="row mt-4 container d-flex justify-content-center align-items-center ">
          <h2 class="text-center">{% trans "Tableau de bord Administrateur" %}</h2>
          <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>{% trans "Actions Administratives" %}</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'create_room' %}" class="btn btn-primary w-100">{% trans "Ajouter une Salle" %}</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'list_rooms_admin' %}" class="btn btn-info w-100">{% trans "Voir la Liste des Salles" %}</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'list_reservations_admin' %}" class="btn btn-warning w-100">{% trans "Voir les Réservations" %}</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'user_list' %}" class="btn btn-success w-100">{% trans "Voir les Utilisateurs" %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
