<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
        form{
            width: 40%;
            min-height: 80%;
            background: #ddd transparent;
            padding: 20px;
            border-radius: 5px;
        }
        @media only screen and (max-width: 600px) {
            form{
                width: 100%;
            }
        }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'list_rooms' %}">Reservation</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'list_rooms' %}">Liste</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'list_reservations' %}">Reservations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'api_logout' %}">Déconnexion</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Connexion</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">{% block content %}{% endblock %}</div>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Reservation &copy; 2024</span>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
