{% extends "base.html" %}

{% block title %}Liste des salles de reunion{% endblock %}

{% block content %}
<h2>Nos salles</h2>
<div class="row">
    {% for room in rooms %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ room.name }}</h5>
                    <p class="card-text">Prix : {{ room.price }} €</p>
                    <a href="{% url 'reserver_room' room.id room.name %}" class="btn btn-primary">Réserver</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Aucune chambre disponible pour le moment.</p>
    {% endfor %}
</div>
{% endblock %}
