 {% extends 'base.html' %}

{% block title %}
Liste des  mes Réservations
{% endblock %}

{% block content %}
<h1>Liste des Réservations</h1>
<ul class="list-group">
  {% for reservations in reservation %}
  <li class="list-group-item">
    {{ reservations.room.name }} - du {{ reservations.date_start }} au {{ reservations.date_end }}
    <div class="float-end">
      <a href="{% url 'modify_reservation' reservations.id %}" class="btn btn-primary btn-sm">Modifier</a>
      <form action="{% url 'confirm_delete' reservations.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
      </form>
    </div>
  </li>
  {% endfor %}
</ul>
{% comment %} <a href="{% url 'reserver_room' %}" class="btn btn-success">Réserver une Salle</a> {% endcomment %}
{% endblock %}
