{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Liste des salles de réunion'%}{% endblock %}

{% block content %}
<main class="main">

    <!-- Hero Section with Full-Screen Background Image and Navbar -->

    <section id="hero" class="hero section dark-background">
        <img src="{% static 'reservation/assets/img/hero-bg.jpg' %}" alt="" data-aos="">

        <div class="container">
            <div class="row">
              <div class="col-lg-10">
                <h2 data-aos="fade-up" data-aos-delay="100">{% trans 'bienevenu sur notre site'%}</h2>
                <p data-aos="fade-up" data-aos-delay="200">{% trans 'nous sommes un ensemble de jeunes formes pour repondre'%} a tout besoin lie a la location des salles de reunions de tout genre</p>
              </div>

            </div>
         </div>

    </section>

    <!-- Rooms Section (after Hero Section) -->
    <section id="rooms-section" class="rooms-section py-5">

        <div class="container">
            <h2 class="text-center mb-4">{% trans "Nos Salles"%}</h2>
            <div class="row">
                {% for room in page_obj %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="{{ room.image_room.url }}" class="card-img-top" alt="{{ room.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ room.name }}</h5>
                                <p class="card-text"> {% trans 'Prix'%} : {{ room.price }} €</p>
                                <p class="card-text">{% trans 'Localisation '%}: {{ room.locate }}</p>
                                <p> {% trans "nombre de reservation"%} :
                                    {% if room.reservation_count > 0 %}
                                         {{ room.reservation_count }}
                                    {% else %}
                                    {% trans "Aucune réservation"%}

                                    {% endif %}
                                    <p>
                                <a href="{% url 'reserver_room' room.id room.name %}" class="btn btn-primary">{% trans 'Réserver'%}</a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>{% trans "Aucune salle n'est disponible pour le moment."%}</p>
                {% endfor %}
            </div>

            <!-- Pagination -->
            <div class="pagination mt-4 text-center">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; {% trans 'première'%}</a>
                        <a href="?page={{ page_obj.previous_page_number }}">{% trans 'précédente'%}</a>
                    {% endif %}

                    <span class="current">
                        {% trans 'Page '%}{{ page_obj.number }}  {% trans 'sur'%} {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                    <div class="col-lg-2 col-6 footer-links">
                        <a href="?page={{ page_obj.next_page_number }}"> {% trans 'suivante'%} </a>
                        <p>||</p>
                        <a href="?page={{ page_obj.paginator.num_pages }}">{% trans 'dernière' %} </a>
                    </div>
                    {% endif %}
                </span>
            </div>
        </div>
    </section>
</main>
{% endblock %}
