{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Modifier la Réservation'%}
{% endblock %}

{% block content %}
<h1>{% trans 'Modifier la Réservation'%}</h1>
<form method="post">
    {% csrf_token %}
    {{  form.as_p }}
    <div class="mb-3">
        <label for="room" class="form-label">{% trans 'Salle'%}</label>
        <input type="text" class="form-control" id="room" value="{{ reservation.room.name }}" disabled>
    </div>
    <div class="mb-3">
        <label for="date_start" class="form-label">{% trans 'Date de Début'%}</label>
        <input type="datetime-local" class="form-control" id="date_start" name="date_start" value="{{ reservation.date_start|date:'Y-m-d\TH:i' }}" required>
    </div>
    <div class="mb-3">
        <label for="date_end" class="form-label">{% trans 'Date de Fin'%}</label>
        <input type="datetime-local" class="form-control" id="date_end" name="date_end" value="{{ reservation.date_end|date:'Y-m-d\TH:i' }}" required>
    </div>
    <button type="submit" class="btn btn-success">{% trans 'modifier'%} </button>
    <a href="{% url 'list_reservations' %}" class="btn btn-secondary">{% trans 'Annuler'%}</a>
</form>
{% endblock %}
