{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Réserver une Salle"%}{% endblock %}

{% load widget_tweaks %}

{% block content %}
<h1>{% trans "Réserver la Salle"%} {{ room_name }}</h1>

<form method="POST" class="text-lowercase w-50 p-b-5 position-relative mx-auto">
  {% csrf_token %}

  <p> {% trans "Vous réservez la salle"%} <strong>{{ room_name }}</strong> :</p>

  <!-- Champ de la salle (caché ou désactivé) -->
  <input type="hidden" name="room" value="{{ room_id }}" />

<div class="mb-3">
    <label for="date_start" class="form-label">{% trans "Date de Début"%}</label>
    <input type="datetime-local" class="form-control" id="date_start" name="date_start" value="{{ reservation.date_start|date:'Y-m-d\TH:i' }}" required>
</div>
<div class="mb-3">
    <label for="date_end" class="form-label">{% trans 'Date de Fin'%}</label>
    <input type="datetime-local" class="form-control" id="date_end" name="date_end" value="{{ reservation.date_end|date:'Y-m-d\TH:i' }}" required>
</div>

  <button type="submit" class="form-control btn btn-primary">{% trans "Réserver"%}</button>
</form>
{% endblock %}
