{% extends 'base.html' %}

{% block title %}Historique des actions{% endblock %}

{% block content %}
    <h1>Historique des actions</h1>

    <ol>
        {% if page_obj %}
            {% for action in page_obj %}
                <li>
                    Action: {{ action.path }}<br>
                    heure: {{ action.timestamp }}
                </li>
            {% endfor %}
        {% else %}
            <li>Aucune action enregistrée pour le moment.</li>
        {% endif %}
    </ol>

    <!-- Afficher les liens de pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Première</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="text-sm-left">Précédente</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.</br>
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="">Suivante</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Dernière &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
