{% extends 'base_auth.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %} {% trans "Connexion" %} {% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100" style="margin-top: 80px;">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">

        <form method="POST" class="needs-validation" novalidate>
            <h2 class="text-center mb-4" data-aos="fade-up" data-aos-delay="100">
            {% trans "Connexion" %}
        </h2>
        {% csrf_token %}
            {% with WIDGET_ERROR_CLASS='is-invalid' %}
            <!-- Champ pour le nom d'utilisateur -->
            <div class="mb-3">
                <label for="id_username" class="form-label">{% trans "Nom d'utilisateur" %}</label>
                {% render_field form.username class="form-control" %}
                <div class="invalid-feedback">{{ form.errors.username }}</div>
            </div>
            <!-- Champ pour le mot de passe -->
            <div class="mb-4">
                <label for="id_password" class="form-label">{% trans "Mot de passe" %}</label>
                {% render_field form.password class="form-control" %}
                <div class="invalid-feedback">{{ form.errors.password }}</div>
            </div>
            {% endwith %}
            <!-- Bouton de soumission -->
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">
                    {% trans "Se connecter" %}
                </button>
            </div>
        </form>
        <!-- Lien pour s'inscrire -->
        <div class="text-center mt-3">
            <p>{% trans "Vous n'avez pas encore de compte ?" %}
                <a href="{% url 'register' %}" class="text-decoration-none">{% trans "S'inscrire" %}</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
